.footerBg {
    background-color: #111111;
    padding: 60px 1.25rem;
}

.footerContainer {


}

.footerContact {
    font-weight: 400;
    font-stretch: normal;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: Roboto, sans-serif;
    color: #fff;
}

.footerContactList {
    color: #b2b2b2;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.35;
    font-family: Poppins, sans-serif;

}

.credits a{
    display: inline-block;
    position: relative;
}

.credits a::after {
    content: "";
    background-color: #694DF8;
    height: 3px;
    width: 0%;
    display: block;
    margin-top: 4px;
    transition: all ease 0.4s;
    position: absolute;
}

.credits a:hover::after {
    width: 100%;
    color: #fff;
}