.aboutContainer{
    /*height: 100vh;*/
    padding-bottom: 1rem;
    /*background-color: #000;*/
    /*background-color: #111111;*/
    color: #ffffff;
    background: rgb(21,21,21);
    background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(21,21,21,1) 0%,  rgb(0, 0, 0) 100%);



}
.aboutContainer p,
.aboutContainer h1,
.aboutContainer strong{
}