.servicesContainerBg{
    background-color: #111111;
    border: 1px solid red;
}
.servicesContent h2{

    font-family: 'Roboto', sans-serif;
    color: #B2B2B2;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.5;

}
.servicesContentText p{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: Poppins, sans-serif;
    color: #b2b2b2;

}
.servicesContainer{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}
.servicesContainerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.servicesContentImage{
    /*border: 1px solid #595959;*/
    /*background-color: #fff;*/
    padding: 20px;
    /*background: url("/public/img/bg-rede.jpg");*/
    /*background: url("/img/bg-rede.jpg");*/
    /*height: 900px;*/
    position: absolute;
    right: 0;
    top: -50px;
    bottom: -50px;
    width: 600px;
    border-radius: 10px;

    /*background-image: url("../../../../public/img/bg-scrip.jpg");*/
    background-image: url("https://uploaddeimagens.com.br/images/004/717/994/full/34371268_rm251-mind-14-f_1.png?1705713962");
    background-position: center;
    background-size: cover;
    opacity: 1; /* Certifique-se de que a opacidade seja 1 para não afetar os elementos filhos */
}


.servicesIconsContainer{
    /*display: grid;*/
    /*grid-template-columns: repeat(5, 1fr);*/
    /*gap: 20px;*/


}
.servicesIconsContainer div{
    width: 80px;
    height: 80px;
    background-color: #595959;
    padding: 10px;
    border-radius: 8px;
}
.servicesIconsContainer img{
    /*width: 30px;*/
    max-width: 100%;
}