.servicesContainerBg{
    background-color: #111111;
}
.servicesContent h2{

    font-family: 'Roboto', sans-serif;
    color: #B2B2B2;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.5;

}
.servicesContentText p{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: Poppins, sans-serif;
    color: #b2b2b2;

}
.servicesContainer{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}
.servicesContainerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.servicesContentImage img{
    height: 100%;
    object-fit: cover;
    object-position: left;
}